<div class="jumbotron">
    <h1>Welcome hackers!</h1>
    <p class="lead">
        Here is where you can check the schedule of workshops.
    </p>
</div>
<div class="row main-col">
    <h1>Workshops</h1>
    <hr>
    <div class="well" ng-repeat="workshop in filteredWorkshops">
        <h2>{{ workshop.title }}</h2>
        <p>
            {{ workshop.description }}
            <br><br>
            <a href="{{ workshop.link }}">Check out the page here!</a>
            <br>
            by {{ workshop.author.name }}, 
            <a href="{{ workshop.author.github }}">
                <i class="fa fa-github fa-lg"></i>
            </a> 
            <a href="{{ workshop.author.linkedin }}">
                <i class="fa fa-linkedin-square fa-lg"></i>
            </a>
        </p>
    </div>

    <pager total-items="workshops.length" ng-model="currentPage" items-per-page="numPerPage" ng-if="workshops.length > numPerPage"></pager>
    <br>
</div>